
.center-content {
    display: grid;
    align-items: center;
    justify-content: center;
}

.border {
    border-width: 2px;
    border-color: cornsilk;
    border-style: groove;
}


.main-container {
    min-width: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    border-radius: 100px;
    padding: 75px;
}

.container-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

hr.container-div {
    width: 100%;
}



#main-title {
    color: black;
    font-size: 50px;
}

@supports (-webkit-text-stroke: 1px black) {
    #main-title {
        color: whitesmoke;
        -webkit-text-stroke: 1px black;
    }
}

#main-container {
    z-index: 10;
}


#message-field {
    min-height: 200px;
    align-content: end;
    text-wrap: pretty;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    flex-grow: 1;
}

#btn-gen-message {
    text-align: center;
    border-radius: 20px;
    min-width: 50%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 50;
}

#overlay {
    display: block;
    pointer-events: none;
    overflow: hidden;
}

#particle-frame-bgd {
    z-index: 5;
}

#particle-frame-fgd {
    z-index: 30;
}


.fill-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}





.bgd-color {
    background-color: coral;
}

.fgd-color {
    background-color: burlywood;
}

.pgd-color {
    background-color: beige;
}